* {
  box-sizing: border-box;
  margin: 0;
}


/* macro-sezioni verticali */

#main-page {

  width: 80%;
  margin: auto;
  margin-top: 10px;
  /* background-color: #d6d6d6; */
  position: relative;


}


#main-header {
  height: 400px;
  background: red;
  position: relative;
}

#img-header {
  height: 320px;
  background: purple;
}

#main-footer {

  height: 80px;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}

/* Layout 3 blocchi */

.col {
  height: 160vh;
  width: 100%;
  float: left;
  padding: 0px 10px;
}

.col-sx-dx {

  width: calc(100%/4);

}

.col-2 {

  width: calc(100%/2);

}



/* blocchi-footer credits e social  */
#credits {
  width: 100%;
  height: 20px;
  background: #008080;
}

#social
{
  width: 100%;
  height: 60px;

}

.col-3x {
  float: left;
  height: 100%;
  width: calc(100%/3);
}

.col-3x:nth-child(1) {
  background: orange;
}
.col-3x:nth-child(2) {
  background: red;
}

.col-3x:nth-child(3) {
  background: blue;
}

.sidebar {
  background: green;
}

.sidebar,
.box-small {
  width: 100%;
  height: 500px;
  margin: 10px 0px;
  border-radius: 10px;

}
.box-big {

  background: #000080;
  width: 100%;
  height: 500px;
  margin: 10px 0px;
  border-radius: 10px;
}

.box-small:nth-child(1) {
  background-color: orange;
}

.box-small:nth-child(2) {
  background-color: blue;
  height: 500px;
  margin: 10px 0px;
  border-radius: 10px;

}

.box-small:nth-child(3) {
  background-color: green;
}


/* Menù principale */

#main-menu {
  background: black;
  width: 100%;
  height: 80px;
  color: #fff;
  text-align: center;
  position: relative;
  padding-top : 20px;
}

.menu-centered {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-centered li {
  display: inline;
  font-weight: 900;
  text-transform: uppercase;
}



/* classe per ripulire gli elementi float */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;

}
